.Analytics {
    width: 100%;
    height: 30%;
    overflow: hidden;
    /* display: flex;
    flex-flow: column;
    align-items: center; */
    background-color: #212529;
}

.InnerAnalytics {
    color: white;
    /* left: 50%;
    top: 50%;
    text-align: center;   
    width: 80%;     


    padding: 20px; */
}