.Analytics {
    width: 100%;
    height: 32%;
   
    /* display: flex;
    flex-flow: column;
    align-items: center; */
    /* background-color: #076fd6; */
 
}

/* .InnerAnalytics {

    width: 100%;
    height: 80%;
    bottom: 0;
    left: 0;
    z-index: 500;
 
} */