.RightPanel {
    width: 30%;
    min-width: 300px;
    height: 100%;
    min-height: 500px;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: rgb(43, 43, 43);
    overflow: hidden;
}