.TwitterStream {
    width: 100%;
    height: 50%;
    /* display: flex;
    flex-flow: column;
    align-items: center; */
    background-color: #212529;
}

.Loader {
    margin: 25%;
    text-align: center;

}
